body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid s#ffffff;
    position: relative; 
    z-index: 1000; 
}



.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
}

.navbar li {
    margin-right: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, border-radius 0.3s;
}

.navbar a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.navbar li:last-child {
    margin-left: auto; 
}

.navbar li.logout {
    margin-left: 0; 
}

.navbar li.login {
    margin-left: 0; 
}
